// big slider
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.mainSlider .swiper-button-prev{
  position: absolute !important;
  top: auto !important;
  bottom: 3rem !important;
  right: 3rem !important;
  width: 1rem !important;
  color: white !important;
}

.mainSlider .swiper-button-next{
  position: absolute !important;
  top: auto !important;
  bottom: 3rem !important;
  right: 7rem !important;
  width: 1rem !important;
  color: white !important;
}

.mainSlider .swiper-pagination {
  position: absolute !important;
  top: auto !important;
  bottom: 1rem !important;
  width: auto !important;  // کل عرض رو نگیره
  left: auto !important;
  right: 3.5rem !important;
}
.mainSlider .swiper-pagination-bullet {
  background-color: white !important;
}
.mainSlider .swiper-pagination-bullet-active {
  background-color: white !important;
}

.offerSlider .swiper-button-prev,
.offerSlider .swiper-button-next {
  color: gray !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
